@media (max-width: 304px) {
    .header-content {
        margin-top: 3rem;
    }
}
@media (max-width: 390px) {
    .header-content__title {
        font-size: 4rem;
    }
    .destinations__title {
        font-size: 2.5rem;
    }
    .newsletters__input {
    font-size: 1rem;
    }
    .newsletters__title {
    max-width: 16rem;
    }
}
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    .newsletters{
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .newsletters__content {
        flex-basis: 60%;
        padding-right: 3rem;
        padding-left: 1rem;
    }
    .newsletters__banner {
        flex-basis: 40%;
    }
}
@media (min-width: 992px) {
    .nav__btn, .nav-menu {
        display: none;
    }
    .menu {
        display: flex;
    }
    .nav__links {
        display: block;
    }
    .header-content_caption {
        max-width: 50rem;
    }
    .newsletters__content {
        padding-right: 4rem;
    }
}
@media (min-width: 1200px) {
    .newsletters{
        justify-content: space-between;
        padding: 3rem 4rem;
    }
    .newsletters__content {
        flex-basis: auto;
        width: 60rem;
    }
    .newsletters__banner {
        flex-basis: auto;
        width: 40rem;
    }
}
@media (min-width: 1400px) {
    .newsletters{
        padding: 3rem 6rem;
    }
}